$fontSize: 13px;
label, input, button, p, a {
  font-size: $fontSize;
}

.w84 {
  min-width: 84px;
}

#resetBtn, #cancelBtn {
  margin-left: 4px;
  margin-right: 4px;
}

@media screen and (max-width: 576px){
   #resetBtn, #cancelBtn {
    margin-left: 0;
    margin-right: 0;
  }
}
