<app-dialog title="Forgot Password?" [formGroup]="resetPasswordForm">
  <app-input-row title="Email address *" formControlName="email" inputType="email" [validationItems]="emailValidationItems" placeHolder="enter email here">
  </app-input-row>

  <div class="d-grid gap-2 d-sm-block text-center">
    <button id="resetBtn" type="button" class="btn btn-primary w84" (click)="onResetTapped()" [disabled]="isInvalid()">Send Link</button>
    <a type="button" class="btn btn-secondary w84" href="/login">Cancel</a>
  </div>
</app-dialog>
