<app-dialog title="Account Registration" [formGroup]="signupForm">
  <div class="mb-3">
    <label class="form-label" for="fullnameInput">Fullname</label>
    <input class="form-control" type="text" placeholder="enter your fullname" id="fullnameInput" formControlName="fullname" [class.is-invalid]="isElementInvalid('fullname')" />
    <app-validation-messages [ValidationItems]="fullnameValidationItems"></app-validation-messages>
  </div>

  <div class="mb-3">
    <label class="form-label" for="usernameInput">Username</label>
    <input class="form-control" type="text" placeholder="enter your username" id="usernameInput" formControlName="username" [class.is-invalid]="isElementInvalid('username')"/>
    <app-validation-messages [ValidationItems]="usernameValidationItems"></app-validation-messages>
    <div *ngIf="isUsernameFilled()">
      <app-achievement-list [ValidationItems]="usernameStrenghPoints"></app-achievement-list>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="bithdateInput">Birth date</label>
    <input class="form-control" type="date" id="bithdateInput" formControlName="birthdate" [class.is-invalid]="isElementInvalid('birthdate')" [max]="minAge"/>
    <app-validation-messages [ValidationItems]="birthDateValidationItems"></app-validation-messages>
  </div>

  <div class="mb-3">
    <label class="form-label" for="genderSelector">Gender</label>
    <select class="form-select" id="genderSelector" formControlName="genderSelector" [class.is-invalid]="isElementInvalid('genderSelector')">
      <option>Male</option>
      <option>Female</option>
    </select>
    <app-validation-messages [ValidationItems]="genderValidationItems"></app-validation-messages>
  </div>

  <div class="mb-3">
    <label class="form-label" for="emailInput">Email</label>
    <input class="form-control" type="email" placeholder="enter your email" id="emailInput" formControlName="email" [class.is-invalid]="isElementInvalid('email')"/>
    <app-validation-messages [ValidationItems]="emailValidationItems"></app-validation-messages>
  </div>

  <div class="mb-3">
    <label class="form-label" for="passwordInput">Password</label>
    <div class="input-group">
      <input class="form-control" [type]="eyeToggled ? 'text' : 'password'" placeholder="enter your password" id="passwordInput" formControlName="password" [class.is-invalid]="isElementInvalid('password')"/>
      <span class="input-group-text" (click)="onEyeClicked()">
        <i [class.bi-eye]="!eyeToggled" [class.bi-eye-slash]="eyeToggled"></i>
      </span>
    </div>
    <app-validation-messages [ValidationItems]="passwordValidationItems"></app-validation-messages>

    <div *ngIf="isPasswordFilled()">
      <app-achievement-list [ValidationItems]="passwordStrenghPoints"></app-achievement-list>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="repasswordInput">Repeat your password</label>
    <input class="form-control" type="password" placeholder="repeat your password" id="repasswordInput" formControlName="repeatPassword" [class.is-invalid]="isElementInvalid('repeatPassword')"/>
    <app-validation-messages [ValidationItems]="repeatPasswordValidationItems"></app-validation-messages>
  </div>

  <div class="mb-4 d-grid">
    <label class="form-label">Your phone number: (KSA based only)</label>
    <input class="form-control"
           mask="^((0|9)|(96{1,2})|(9665)|(05)|(((05)|(9665))\d{1,8}))$"
           finalMask="^((((05)|(9665))\d{1,8}))$"
           placeholder="05xxxxxxxx | 9665xxxxxxxx"
           inputmode="numeric"
    >
  </div>

  <div class="mb-4 d-grid">
    <label class="form-label">Your serial number: </label>
    <input class="form-control"
           digitOnly
           inputmode="numeric"
    >
  </div>

  <div class="mb-4 d-grid">
    <button type="button" class="btn btn-primary" [disabled]="signupForm.invalid" (click)="signupTapped()">Sign Up</button>
  </div>

  <div class="mb-1 text-center">
    <p>Already have an account?</p>
  </div>

  <div class="mb-3 d-grid">
    <a type="button" class="btn btn-dark" href="/login">Sign in</a>
  </div>
</app-dialog>
