<app-dialog title="New Password" [formGroup]="newPasswordForm">
  <div class="mb-3" *ngIf="!!sessionId">
    <label class="form-label" for="newPasswordInput">New Password</label>
    <div class="input-group">
      <input class="form-control" [type]="eyeToggled ? 'text' : 'password'" placeholder="enter the new password"
             id="newPasswordInput" formControlName="newPassword" [class.is-invalid]="isElementInvalid('newPassword')"/>
      <span class="input-group-text" (click)="onEyeClicked()">
        <i [class.bi-eye]="!eyeToggled" [class.bi-eye-slash]="eyeToggled"></i>
      </span>
    </div>
    <app-validation-messages [ValidationItems]="newPasswordValidationItems"></app-validation-messages>

    <div *ngIf="isNewPasswordFilled()">
      <app-achievement-list [ValidationItems]="newPasswordStrenghPoints"></app-achievement-list>
    </div>

    <div class="mb-3">
      <label class="form-label" for="repasswordInput">Repeat your password</label>
      <input class="form-control" type="password" placeholder="repeat your password" id="repasswordInput"
             formControlName="repeatPassword" [class.is-invalid]="isElementInvalid('repeatPassword')"/>
      <app-validation-messages [ValidationItems]="repeatPasswordValidationItems"></app-validation-messages>
    </div>

    <div class="mb-4 d-grid">
      <button type="button" class="btn btn-primary" [disabled]="newPasswordForm.invalid" (click)="onSubmitTapped()">Confirm</button>
    </div>
  </div>
</app-dialog>
